.card {
    width: fit-content;
}
.store {
    .filter {
        width: 10rem;
    }
}
.prod-desc {
    text-align: justify;
}
.percent {
    color: red;
}
.desc-head, .desc {
    li {
        margin: 20px 0px;
        list-style: none;
    }
}