.user-section {
    form {
        box-shadow: 2px 2px 12px #141414;
        border-radius: 8px;

        input {
            border: 2px solid skyblue;
        }
    }
}

.profile-update-form {
    box-shadow: 2px 2px 12px #141414;
    border-radius: 8px;
    padding: 16px;

    input {
        border: 2px solid skyblue;
    }
}

.profile-img img {
    box-shadow: 4px 4px 8px #1d1d1d;
}

.seller-icon {
    box-shadow: 2px 2px 5px #1d1d1d;
    border-radius: 6px;
}

.add-item-form {
    img {
        box-shadow: 3px 3px 8px #141414;
        border-radius: 6px;
    }
}

.selling {
    table {
        th {
            font-size: 18px;
        }

        td {
            font-weight: 600;
        }
    }
}

.product {
    font-size: 20px;
}

tbody tr td {
    font-size: 18px;
}

.note {
    margin: auto;
    font-size: 14px;
    font-weight: 600;
}