* {
  margin: 0;
  padding: 0;
}

/* navbar designing */
.navbar {
  background-color:antiquewhite;
  .logo {
    margin-top: -10px;
    .social-icons {
      a {
        margin: 0px 8px;
        font-size: 18px;
        color: #141414;
        text-decoration: none;
        padding: 2px;
      }
      a:hover {
        transition: all 0.3s ease-in-out;
        font-size: 22px;
        color: brown;
      }
    }
  }
  .nav-menu {
    margin-bottom: -8px;
    background-color: #0034a5;
    .nav-links {
      list-style: none;
      padding: 6px;
      margin: 0px 20px;
      a {
        font-size: 18px;
        text-decoration: none;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
      }
      a:hover {
        transition: all 0.5ms ease-in-out;
        border-bottom: 2px solid #e4e3e3;
      }
    }
  }
}
.dropdown-item {
  color: white !important;
}
.dropdown-item:hover {
  background-color: #3b3b3b !important;
  color: white !important;
}
/* navbar designing */
/* homepage  */
.carousel-item {
  height: 80vh;
  img {
    height: 100%;
    filter: blur(1px);
  }
}
/* homepage  */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 33px;
    margin-bottom: 28px;
  }
  .contact-body {
    display: flex;
    justify-content: center;
    width: 50%;
    height: fit-content;
    box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.2);
    
    .contact-form {
      display: flex;
      flex-direction: column;
      width: 70%;

      input, textarea {
        padding: 10px;
        margin: 10px;
        font-family:monospace;
      }
      button {
        width: 30%;
        padding: 10px;
        font-weight: 600;
        background-color: blue;
        color: white;
        margin: 10px;
        border: none;
        cursor: pointer;
      }
      button:hover {
        background-color: rgb(61, 61, 247);
      }
    }
  }
}

.about {
  width: 80%;
  margin: 2rem auto;
  text-align: justify;
  strong, p {
    font-size: 20px;
  }
}
.footer {
  background-color: #141414;
  color: #e4e3e3;
  position: relative;
  bottom: 0px;
  top: 6rem;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 18px;
  width: 100%;
  text-align: center;
}

.homepage {
  .tagline {
    top: 18rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
    opacity: 0.5;
  }
}
.latest{
  .card {
    width: fit-content;
  }
}

.login-form {
  box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.4);
  border-radius: 8px;
}
